<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData"
                   DefaultLayout="@typeof(Layout.MainLayout)" />
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <div class="login-page">
            <p style="color:white">
                Page not found.
                <a href="/student/login" style="color:#818CF8">Go to Login</a>
            </p>
        </div>
    </NotFound>
</Router>